<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="DEV_HOME" value="logs" />

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>
				%boldGreen(%d{yyyy-MM-dd HH:mm:ss}) %-4relative [%boldMagenta(%thread)] [%highlight(%level)] %cyan(%-60logger{50}) : %boldGreen(%msg%n)
      </Pattern>
    </encoder>
  </appender>

  <appender name="FILE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${DEV_HOME}/log.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] [%-5level] %-60logger{50} : %msg%n
      </Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${DEV_HOME}/archived/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>

  </appender>

  <!-- Send logs to both console and file audit -->
  <logger name="com.plg.springvalidationexample" level="INFO" additivity="false">
    <appender-ref ref="Console" />
    <appender-ref ref="FILE-LOG" />
  </logger>

  <root level="INFO">
    <appender-ref ref="Console" />
    <appender-ref ref="FILE-LOG" />
  </root>

</configuration>